@using RclTemp.Models
@inherits Microsoft.AspNetCore.Components.ComponentBase

@code {
    [Parameter]
    public Phase Phase { get; set;  }

    //todo: non-nullable? nullable, but throw if not provided, or allow null for initial phase before we have the link, but warn the developer without runtime cost?
    [Parameter]
    public string? FeedbackUrl { get; set; }

}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            @Phase
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service, your <a href="@FeedbackUrl">feedback</a> will help us improve it.
        </span>
    </p>
</div>