@page
@model FamilyHubs.RequestForSupport.Web.Pages.accessibility.IndexModel

@{
    ViewData["Title"] = "Accessibility statement";
}

@section Back {
    <a class="govuk-back-link app-js-show app-back-link">Back</a>
}