@model FamilyHubs.ReferralService.Shared.Dto.ReferralDto

<div class="govuk-grid-row govuk-!-margin-top-2">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Professional who has made this connection request</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ReferralUserAccountDto.Name
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="mailto:@(Model.ReferralUserAccountDto.EmailAddress)">@Model.ReferralUserAccountDto.EmailAddress</a>
                </dd>
            </div>
            @if (!string.IsNullOrEmpty(Model.ReferrerTelephone))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a href="tel:@(Model.ReferrerTelephone)">@Model.ReferrerTelephone</a>
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>
