@model FamilyHubs.ReferralService.Shared.Dto.ReferrerDto

<h2 class="govuk-heading-m">Professional who has made this connection request</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Name
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Name
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Email
        </dt>
        <dd class="govuk-summary-list__value">
            <a href=$"mailto:{@Model.EmailAddress}">@Model.EmailAddress</a>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Phone
        </dt>
        <dd class="govuk-summary-list__value">
            <a href=$"tel:{@Model.PhoneNumber}">@Model.PhoneNumber</a>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Role
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Role
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
    </div>
</dl>



