@use "sass:map";
@import "../node_modules/familyhubs-frontend/styles/all";
@import "_VcsDashboard";
@import "_LaDashboard";

.app-break-spaces {
    white-space: break-spaces;
}

//todo: what's going on here? sort out this / fh-button-link
//todo: put fh-button-link back to how it was

.app-button-link {
    border: none;
    padding: 0 !important;
    color: $govuk-link-colour;
    cursor: pointer;
    background: none !important;
    /*    &:hover {
        text-decoration: none;
    }
*/
    &:focus {
        background-color: $govuk-focus-colour !important;
    }
}