@use "sass:map";
@import "../node_modules/familyhubs-frontend/styles/all";
@import "_VcsDashboard";
@import "_LaDashboard";

.app-break-spaces {
    white-space: break-spaces;
}

//todo: what's going on here? sort out this / fh-button-link
//todo: put fh-button-link back to how it was

#return-later {
    @include govuk-link-common;
    @include govuk-link-style-default;
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;
    /*todo: should this respond the same as standard paragraph text, rather than always be 16px?*/
    font-size: $dfe-base-font-size;
    line-height: 1.33333;
}