@use "sass:map";
@import "../node_modules/familyhubs-frontend/styles/all";
@import "_VcsDashboard";
@import "_LaDashboard";

.app-break-spaces {
    white-space: break-spaces;
}

//todo: what's going on here? sort out this / fh-button-link

#return-later {
    @include govuk-link-common;
    @include govuk-link-style-default;
    @include govuk-typography-responsive(19);
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;
}