@page
@model IndexModel
@{
    ViewData["Title"] = "Dummy terms of use (for local development)";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Dummy terms of use (for local development)</h1>
        
        <p>In the environments, Connect's terms of use page will be used instead.</p>

        <form method="post">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>